h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1c525f;
    text-align: center;
}

p{
    font-size: 1.2em;
    color: #3d3d3d;
    font-family: Arial, Helvetica, sans-serif;
}